<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="../js/chat.js"></script>
    <link rel="stylesheet" href="../css/chat.css">
</head>

<body>
    <div id="container">
        <div id="message-container"></div>
        <form id="send-container">
            <span> > </span>
            <input type="text" id="message-input">
        </form>
        <div id="room-info">
            <span id="room-name">Room's</span><br>
            <span id="room-users">0 Users</span>

            <hr>
            <div id="users">
            </div>
        </div>
        <button id="burger"><img src="../icons/bars.svg" class="icon "></button>
    </div>
</body>

</html>