<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="../js/room.js"></script>
    <link rel="stylesheet" href="../css/room.css">
</head>

<body>
    <div id="container">
        <span>Rooms</span>
        <div id="message-container"></div>
    </div>
</body>

</html>